bumpversion
pre-commit
pytest
pytest-cov
sphinx
sphinx-prompt
tox

# See https://github.com/oasis-open/cti-pattern-validator/pull/23#issuecomment-321096564
# We can take this out eventually.
setuptools>=36.2.7

-e .
